# Group by

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('pokemon_data.csv')

In [9]:
# grouping of all the data on the basis of generation of the pokemon
df.groupby('Generation').mean(numeric_only=True)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
Generation,,,,,,,,
1,75.819277,65.819277,76.638554,70.861446,71.819277,69.090361,72.584337,0.036145
2,202.283019,71.207547,72.028302,73.386792,65.943396,73.905660,61.811321,0.047170
3,321.968750,66.543750,81.625000,74.100000,75.806250,71.225000,66.925000,0.112500
4,442.446281,73.082645,82.867769,78.132231,76.404959,77.190083,71.338843,0.107438
5,574.272727,71.787879,82.066667,72.327273,71.987879,68.739394,68.078788,0.090909
6,688.012195,68.268293,75.804878,76.682927,74.292683,74.890244,66.439024,0.097561

In [11]:
# using groupby for a particular column
df.groupby('Generation')['HP'].mean()

Generation
1    65.819277
2    71.207547
3    66.543750
4    73.082645
5    71.787879
6    68.268293
Name: HP, dtype: float64

In [13]:
# using groupby for selective two or more columns
df.groupby(['Generation','Legendary'])['HP'].mean()

Generation  Legendary
1           False         64.612500
            True          98.000000
2           False         69.613861
            True         103.400000
3           False         64.626761
            True          81.666667
4           False         69.740741
            True         100.846154
5           False         69.353333
            True          96.133333
6           False         66.189189
            True          87.500000
Name: HP, dtype: float64

In [19]:
# counting number of records by category
df['Generation'].value_counts()

Generation
1    166
5    165
3    160
4    121
2    106
6     82
Name: count, dtype: int64

In [25]:
# using size to include null values
df.groupby('Type 2')['HP'].size()

Type 2
Bug          3
Dark        20
Dragon      18
Electric     6
Fairy       23
Fighting    26
Fire        12
Flying      97
Ghost       14
Grass       25
Ground      35
Ice         14
Normal       4
Poison      34
Psychic     33
Rock        14
Steel       22
Water       14
Name: HP, dtype: int64

In [26]:
df.groupby('Type 2')['HP'].count()

Type 2
Bug          3
Dark        20
Dragon      18
Electric     6
Fairy       23
Fighting    26
Fire        12
Flying      97
Ghost       14
Grass       25
Ground      35
Ice         14
Normal       4
Poison      34
Psychic     33
Rock        14
Steel       22
Water       14
Name: HP, dtype: int64